:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --secondary-color: rgba(229, 148, 0, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
  --animate-speed: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('building.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
  transition: all ease-out 2s;
}

#showcase p {
  font-size: 1.3rem;
}

#showcase h1:hover {
  color: rgb(243, 171, 145);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn {
  opacity: 0.9;
}

.logos {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.logos img {
  width: 100px;
  height: 100px;
}

.logos #a,
.logos #c {
  transform: translateX(-1800px);
  animation: logos-1 var(--animate-speed) forwards ease-in 1s;
}

@keyframes logos-1 {
  to {
    transform: translateX(0px);
  }
}

.logos #d,
.logos #e,
.logos #f {
  transform: translateX(1000px);
  animation: logos-2 var(--animate-speed) forwards ease-in 1s;
}

@keyframes logos-2 {
  to {
    transform: translateX(0px);
  }
}

.dp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Animation to shake the DP */
.dp:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.logos #b {
  animation: rotatecss 1.5s infinite linear;
}

@keyframes rotatecss {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logos #b:hover {
  animation-play-state: paused;
}

@media only screen and (min-width: 360px) and (min-width: 360px) and (max-width: 400px) {
  body {
    line-height: 1.2;
  }
  #showcase h1 {
    font-size: 2rem;
    transition: all ease-out 1s;
  }

  #showcase p {
    font-size: 1rem;
  }
  .logos img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 500px) and (max-width: 768px) and (max-width: 1200px) {
  body {
    line-height: 1.2;
  }
  #showcase h1 {
    font-size: 2rem;
    transition: all ease-out 1s;
  }

  #showcase p {
    font-size: 1rem;
  }
  .logos img {
    width: 75px;
    height: 75px;
  }
}
