		a {
		text-align: right;
		background-color: blue;
		list-style-type: none;
		color: white;
		}
		
		
		table {
		font-family: segoe ui;
		border: 5px double black;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		}
		
		h1 {
			text-align: center;
			margin: auto;
		}

		#greeting{
		text-align: center;
			margin: auto;	
		}
		
		#header {
		text-align: center;
		background-color: rgb(20, 150, 100);
		}
		
		